version: '3.2'
services:
  inferno:
    build:
      context: ./
    volumes:
      - ./config.yml:/var/www/inferno/config.yml
      - ./data:/var/www/inferno/data
      - type: bind
        source: "./resources/terminology/validators"
        target: "/var/www/inferno/resources/terminology/validators"
    depends_on:
      - validator_service
  validator_service:
    image: infernocommunity/fhir-validator-service:v0.1.1
    environment:
      DISABLE_TX: 'true'
  nginx:
    image: nginx
    volumes:
      - ./docker/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "4567:80"
    command: [nginx, '-g', 'daemon off;']
    depends_on:
      - inferno
