<div class="row">
  <div class="col">
    <div class="container row row-no-padding align-items-center" style="margin:auto;" >
      <div class="col-12" style="color: #063d75; text-align: left;">
        <div class="alert alert-danger" role="alert" style="margin-top: 1rem; margin-bottom: 0; text-align: left;">
          Inferno Program Edition v1.9 is being replaced by <a href="https://inferno.healthit.gov/onc-certification-g10-test-kit">ONC Certification (g)(10) Standardized API Test Kit v2.0</a>.
          This version remains available for certification but is scheduled to be removed from healthit.gov by May 2022.
          Please begin testing using v2.0 and <a href="https://github.com/onc-healthit/onc-certification-g10-test-kit/issues">report any issues</a>
          to help ensure a smooth transition. More information is available in the <a href="https://github.com/onc-healthit/onc-certification-g10-test-kit/releases/tag/v2.0.0">v2.0 release notes</a>.
          </div>
      </div>
    </div>
  </div>
</div>
t